<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin - Profesor</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">

    <a class="navbar-brand" href="#">Admin Profesores</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>
<div class="container">

    <div class="row">
        <h1> Lista de Calificaciones</h1>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Nombre del Alumno</th>
            <th>Nombre de la Asignatura</th>
            <th>Nota</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="calificacion: ${calificaciones}">
            <td th:text="${calificacion.getNombreEstudiante()}"></td>
            <td th:text="${calificacion.getNombreAsignatura()}"></td>
            <td th:text="${calificacion.getNota()}"></td>
        </tr>
        </tbody>
    </table>
    <a href="/profesor/profesorMain" class="btn btn-success">Volver</a>
</div>
</body>
</html>