<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colegio</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div>
        <div class="row mb-3">
            <div class="col-sm">
                <a href="/alumno/alumnoMain" class="btn btn-primary">Alumnos</a>
            </div>
            <div class="col-sm">
                <a href="/profesor/profesorMain" class="btn btn-secondary">Profesores</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <a href="/asignatura/asignaturaMain" class="btn btn-danger">Asignaturas</a>
            </div>
            <div class="col-sm">
                <a href="/calificacion/calificacionMain" class="btn btn-success">Calificaciones</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>