<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin - Alumno</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">

    <a class="navbar-brand" href="#">Admin Alumnos</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>
<div class="container">

    <div class="row">
        <h1> Lista de Alumnos</h1>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/alumno/saveAlumno}" class="btn btn-primary btn-sm mb-3">Añadir Alumno</a>
        </div>
        <div>
            <form method="post" th:action ="@{/alumno/upload}" enctype="multipart/form-data" id="fileAlumnoUploadForm" class="container">
                <div class="form-group">
                    <label class="custom-file" id="customFile">
                        <input type="file" class="btn btn-secondary" name="file" aria-describedby="fileHelp">
                        <span class="custom-file-control form-control-file"></span>
                        <input type="submit" value="Subir">
                    </label>
                </div>
            </form>
        </div>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Nombre del estudiante</th>
            <th>Apellido del estudiante</th>
            <th>Correo del estudiante</th>
            <th>Telefono del estudiante</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="alumno: ${alumnos}">
            <td th:text="${alumno.getNombre()}"></td>
            <td th:text="${alumno.getApellido()}"></td>
            <td th:text="${alumno.getCorreo()}"></td>
            <td th:text="${alumno.getTelefono()}"></td>
            <td>
                <a th:href="@{/alumno/updateAlumno/{id}(id = ${alumno.getId()})}"
                   class="btn btn-primary">Editar</a>
                <a th:href="@{/alumno/deleteAlumno/{id}(id=${alumno.getId()})}"
                   class="btn btn-danger">Eliminar</a>
                <a th:href="@{/alumno/calificaciones/{id}(id=${alumno.getId()})}"
                   class="btn btn-success">Calificaciones</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/main" class="btn btn-success">Volver</a>
</div>
</body>
</html>